<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.yc.model.UserModel" alias="userModel"/>
		<typeAlias type="com.yc.model.UserQueryModel" alias="userQueryModel"/>
	</typeAliases> 
</configuration>
